{{#if success_msg}}
    <div class="alert alert-success alert-dismissable">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
    <div class="alert alert-danger alert-dismissable">{{error_msg}}</div>
{{/if}}